* {
  margin: 0;
  padding: 0;
}
body {
  width:100%;
  height:100%;
  background-color:#f4ecd8;
}
.fullsize {
  height:calc(100vh - 2rem);
  max-width:100vw;
  display:inherit;
  margin-left:auto;
  margin-right:auto;
}
.compare {
  width: calc( 50% - 20px);
  margin-left:auto;
  margin-right: auto;
  display:inline-block;
}
.footer {
  margin:0 0 5px 0;
  position:absolute;
  bottom:0;
  width: 100%;
  font-size:1.5rem;
  vertical-align: middle;
}

#actionList button {
  position: relative;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
#actionList button:after {
  border-radius: 8px;
  content: "";
  background: #222222;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#actionList button:active:after {
  border-radius: 8px;
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

#actionList {
  display: inline-block;
  overflow: hidden;
}
#actionList > li {
  color: blue;
  text-decoration: underline;
  display: inline-block;
}
#page_index {
  float: right;
  margin-right: 1em;
  height: 100%;
}
.leftMenue {
  position: absolute;
  float: left;
  top: 0;
  left: 0;
  width: 20vw;
  font-size: 2rem;
}
.leftMenue > li {
  display: inline-block;
  margin: 0.1em 0.3em 0.1em 0.3em;
  float: left;
}
